aclocal.m4
autom4te.cache
busybox-*
*.bz2
config.status
configure
configure~
conftest.*
*.png
fs
*.gz
*.img
initrd.cpio
linux-*
*.log
Makefile
mlinux-minimal-*
mirrors.mk
uclibc
uClibc-*
uclibc.specs
rootfs
*.sha256
*.tar
vmlinuz
.vscode
*.xz
